* {

	box-sizing: border-box;
}

body {

	margin-top: 0% ;
	margin-bottom: 0%;
	margin-left: 0px;
	margin-right: 0px;
	overflow: auto;
	position: relative;
	background-image: url('23.jpg');
  	background-attachment: fixed;
  	background-size: 100% 100%;
  	background-color: white;

}

.wrapper{

	width: 85%;
	margin: 0px auto 20px auto;
	border: 2px solid #000000;
	background-color: #ffffff;
}

header{
	padding-top: 60px;
	height: 120px;
	background-image: url("image.jpg");
	color: black;
}

nav, footer{

	clear: both;
	color: #ffffff;
	background-color: #aeaca8;
	height: 50px;
	padding-top: 10px;
}

nav ul{

	margin: 0px;
	padding: 10px 10px 5px 30px;

}

nav li{

	display: inline;
	margin-right: 40px;

}

nav li a{

	color: #ffffff;
	text-decoration: none;
	padding: 20px;

}

nav li a:hover, nav li a.current{
	background-color: white;
	color: #000000;
	padding: 25px;
	font-size: 20px;

}

.column{

	float: left;
}

.column.content{

	width: 80%;
	border: 2px solid #000000;
	margin-left: -2px;
	height: 940px;

}

.column.side {

	margin-left: 0.4px;
	width : 20.1%;
	border: 2px solid #000000;
	height: 940px;
}

.column.in {

	overflow: auto;
	height: 500px;
	width: 100%;

}

figure{

	float: left;
	width: 99.5%;
	height: 200px;
	padding: 5px;
	margin: 5px;
	border: 1px solid #eeeeee;

}

figcaption{

	font-size: 90%;
	text-align: left;
	height: 200px;
	padding-top: 5px;
	padding-left: 20px;

}

aside{

	width: 40%;
	height: 180px;
	float: left;
	padding: 0px 0px 0px 5px;
	margin-top: 40px;
	margin-left: 15px;

}

aside section a{

	display: block;
	padding: 10px;
	border-bottom: 1px solid #eeeeee;

}

aside section a:hover{

	color: #985d6a;
	background-color: #efefef;

}

#myInput {
  background-image: url('/css/searchicon.png');
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myUL li a {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 16px;
  color: black;
  display: block
}

#myUL li a:hover:not(.header) {
  background-color: #eee;
}
